<div class="eqLogic-widget eqLogic allowResize sigriLinky" 
	 style="width: 272px;height: 332px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;"
	 data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<link rel="stylesheet" href="plugins/sigri_linky/core/template/css/style.css"/>
	<center class="widget-name">
		<a href="#eqLink#" style="#hideEqLogicName#">#name_display#<a>
	</center>
	<div class="cmd cmd-widget history widget-Linky_V4" data-type="info" data-subtype="numeric" data-template="Linky_V4" data-cmd_id="#consoheure_id#" data-cmd_uid="#consoheure_uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
		<img class="Linky_V4-background" height=288px width=256px src="plugins/sigri_linky/core/template/img/LinkyV4.png" />
		<span class="led_cligno"></span>
		<div class="annualName fontName value">ANNUEL</div>
		<div class="annual fontDigital value" title="Collectée le #consoan_collect#.">#consoan#</div><div class="annualUnite fontUnite value">kWh</div>
		<div class="monthlyName fontName value">MENSUEL</div>
		<div class="monthly fontDigital value" title="Collectée le #consomois_collect#.">#consomois#</div><div class="monthlyUnite fontUnite value">kWh</div>
		<div class="dayName fontName value">QUOTIDIEN</div>
		<div class="day fontDigital value" title="Collectée le #consojour_collect#.">#consojour#</div><div class="dayUnite fontUnite value">kWh</div>
		<div class="hourName fontName value">HEURE</div>
		<div class="hour fontDigital value" title="Collectée le #consoheure_collect#.">#consoheure#</div><div class="hourUnite fontUnite value">kWh</div>
	</div>
</div>
