<div class="eqLogic-widget eqLogic allowResize sigriLinky" 
	 style="width: 272px;height: 332px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;"
	 data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<link rel="stylesheet" href="plugins/sigri_linky/core/template/css/style.css"/>
	<center class="widget-name">
		<a href="#eqLink#" style="#hideEqLogicName#">#name_display#</a>
	</center>
	<div class="cmd cmd-widget widget-Linky_V4">
		<img class="Linky_V4-background" height="288" width="256" src="plugins/sigri_linky/core/template/img/LinkyV4.png" />
		<span class="led_cligno"></span>
		<div class="history" data-cmd_id="#consoan_id#" title="Collectée le #consoan_collect#">
			<div class="annualName fontName value">ANNUEL</div>
			<div class="annual fontDigital value">#consoan#</div><div class="annualUnite fontUnite value">kWh</div>
		</div>
		<div class="history" data-cmd_id="#consomois_id#" title="Collectée le #consomois_collect#">
			<div class="monthlyName fontName value">MENSUEL</div>
			<div class="monthly fontDigital value">#consomois#</div><div class="monthlyUnite fontUnite value">kWh</div>
		</div>
		<div class="history" data-cmd_id="#consojour_id#" title="Collectée le #consojour_collect#">
			<div class="dayName fontName value">QUOTIDIEN</div>
			<div class="day fontDigital value">#consojour#</div><div class="dayUnite fontUnite value">kWh</div>
		</div>
		<div class="history" data-cmd_id="#consoheure_id#" title="Collectée le #consoheure_collect#">
			<div class="hourName fontName value">HEURE</div>
			<div class="hour fontDigital value">#consoheure#</div><div class="hourUnite fontUnite value">kW</div>
		</div>
	</div>
</div>
